{% extends 'base.html' %}


{% block content %}
    <h2>index 대리에게 도달 하셨군요!</h2>
    {% comment %} <h1>index 대리에게 도달 하셨군요!</h1>
    <h2>{{name}}님 환영합니다!</h2>
    <hr>
    <h2>전체음식: {{foods}}</h2>
    <h2>첫번째: {{foods.0}}</h2>
    <h2>사는도시: {{address.city}}</h2>
    <h2>랜덤넘버 : {{pick}}</h2> {% endcomment %}
    {% comment %} <h3>{{ food|join:", "}}</h3> {% endcomment %}

    {% for food in foods %}
        <p>{{food}}</p>
        <p>{{food|length}}</p>
    {% endfor %}

    {% if 'pizza' in foods %}
        <p>오늘 나 빼고 피자먹으러 간다매..</p>
    {% endif %}
{% endblock content %}
